<table style="width: 50px">
  <tr>
    <td>
      <rc-static-field name="System"></rc-static-field>
    </td>
    <td>
      <rc-static-field name="Planet"></rc-static-field>
    </td>
  </tr>
  <tr>
    <td>
      <rc-static-field name="OM-1" type="number"></rc-static-field>
    </td>
    <td>
      <rc-static-field name="OM-2" type="number"></rc-static-field>
    </td>
    <td>
      <rc-static-field name="OM-3" type="number"></rc-static-field>
    </td>
  </tr>
  <tr>
    <td>
      <rc-static-field name="OM-4" type="number"></rc-static-field>
    </td>
    <td>
      <rc-static-field name="OM-5" type="number"></rc-static-field>
    </td>
    <td>
      <rc-static-field name="OM-6" type="number"></rc-static-field>
    </td>
    <td colspan="2">
      <button mat-raised-button color="accent" style="right: 0; position: absolute">Convert</button>
    </td>
  </tr>
</table>
